<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.web.starter"
    versionCode = "1" 
    version     = "1.0.0" >
   <name>Web App Starter</name>
    <description>
            Web 3 Starter Application
    </description>
    <author href="https://xalevanie.github.io" email="maddybrine92@gmail.com">
             Madeline Brine
    </author>
    
    <platform name="ios"/>
    <platform name="android"/>
    <platform name="winphone"/>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="disallowOverscroll" value="true" />

</widget>